.row {
  max-width: 1000px;
  margin: auto;
}
.list-group-item {
  padding-top: 25px;
}
.list-group-item p {
  font-weight: 600;
  font-size: 1rem;
}
.list-group-item:hover {
  background-color: rgba(150, 150, 150, 0.503);
}
.active {
  background-color: #343a40;
  border: #343a40;
}

h4 {
  font-weight: 800;
  font-style: italic;
}
