<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Recipes List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let recipe of recipes; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveRecipe(recipe, i)"
      >
        {{ recipe.title }}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentRecipe.id">
      <h4>Recipe</h4>
      <div>
        <label><strong>Title:</strong></label> {{ currentRecipe.title }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ currentRecipe.description }}
      </div>
      <a class="badge badge-warning" routerLink="/recipes/1"> Edit </a>
    </div>

    <div *ngIf="!currentRecipe">
      <br />
      <p>Please click on a Recipe...</p>
    </div>
  </div>
</div>
