<div class="row">
  <div class="col-md-8">
    <h3 style="padding-top: 1rem; padding-bottom: 2rem">All Recipes</h3>
    <div class="input-group mb-3">
      <div class="input-group-append">
        <input
          type="text"
          placeholder="Search for recipe"
          class="input-outline"
          style="color: #888; margin-right: 10px; padding-left: 10px"
          [(ngModel)]="title"
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let recipe of recipes; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveRecipe(recipe, i)"
      >
        <p>{{ recipe.title }}</p>
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <div *ngIf="currentRecipe.id">
      <img
        src="assets/images/recipe/{{ currentRecipe.id }}.jpg"
        width="400"
        style="padding-bottom: 1rem"
      />
      <h4>{{ currentRecipe.title }}</h4>
      <div>
        <label><strong>Title:</strong></label> {{ currentRecipe.title }}
      </div>
      <div>
        <label><strong>Description:</strong></label
        ><br />
        {{ currentRecipe.description }}
      </div>
      <a
        class="badge badge-success"
        routerLink="/recipes/{{ currentRecipe.id }}"
        style="margin-top: 1rem; padding: 1rem"
      >
        Show The Full Recipe
        <i i-bs name="arrow-right" height="0.9rem" width="0.9rem"></i>
      </a>
    </div>
  </div>
</div>
