<div class="all-container">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand"
      ><img
        src="assets/images/cave.png"
        alt="cave"
        width="35"
        style="margin-top: -9px"
      />
      Recipe Cave</a
    >
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="recipes" class="nav-link">All Recipes</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add New Recipe</a>
      </li>
    </div>
  </nav>
  <div class="mt-4">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="footer-container">
  <img src="assets/images/cave.png" />
  <h5>The Recipe Cave</h5>
  <p><a href="https://github.com/hejmi">@hejmi</a> 2021</p>
</div>
