<div class="carousel-container" style="margin-left: calc(50% - 400px)">
  <ngb-carousel [interval]="3000">
    <ng-template ngbSlide *ngFor="let recipe of recipes; let i = index">
      <div>
        <img
          src="assets/images/recipe/{{ recipe.id }}.jpg"
          alt="Angular Carousel"
          class="carousel-image"
          [routerLink]="['/recipes/', recipe.id]"
        />
      </div>
      <div class="carousel-caption">
        <h3>{{ recipe.title }}</h3>
        <p>
          <small
            ><i i-bs name="clock" height="0.8rem" width="0.8rem"></i>
            Preparation: {{ recipe.prep_time }} min.
            <i i-bs name="clock" height="0.8rem" width="0.8rem"></i> Cooking:
            {{ recipe.cooking_time }} min.</small
          ><br />
          {{ recipe.description }}
        </p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
