.carousel-container {
  max-width: 750px;
}
.carousel-image {
  width: 100%;
}
.carousel-caption {
  font-family: "Overpass", sans-serif;
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
}

.carousel-caption h3 {
  font-size: 1.7rem;
  font-family: "Overpass", sans-serif;
  font-weight: 800;
  font-style: italic;
}
